fastapi
uvicorn[standard]
python-dotenv
langchain
langgraph
langchain-core

langchain[openai]
langchain[anthropic]
langchain[google-genai]
langchain-aws

httpx
pydantic

# Testing
pytest==7.4.0
httpx2
