fastapi
uvicorn[standard]
python-dotenv
langchain
langgraph
langchain-core

langchain[openai]
langchain[anthropic]
langchain[google-genai]
langchain-aws
langchain-mcp-adapters>=0.3.0

httpx
pydantic
boto3

# Testing
pytest==7.4.0
httpx2
